[submodule "libs/NosSharp.Plugins"]
	path = libs/NosSharp.Plugins
	url = ../Plugins.git
[submodule "libs/NosSharp.BasicAlgorithm"]
	path = libs/NosSharp.BasicAlgorithm
	url = https://github.com/NosWings/WingsEmu.Plugins.BasicAlgorithms.git
[submodule "libs/NosSharp.MultilanguagePlugin"]
	path = libs/NosSharp.MultilanguagePlugin
	url = https://github.com/NosWings/WingsEmu.Plugins.RedisMultilanguagePlugin.git